#titleBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgb(22, 22, 22), rgb(14, 14, 14));
    border-bottom: 5px solid rgb(60, 255, 0);
    z-index: 9999;
}

#titleBar .toggle {
    display: block;
    content: '\f0c9';
    text-align: center;
    height: 44px;
    width: 44px;
    color: white;
}

#titleBar .toggle svg {
    transform: scale(0.5);
    fill: rgb(240, 255, 238);
}

#titleBar .title {
    position: relative;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}