#encabezado {
    background-color: #FFF;
    height: 3.5em;
    width: 100%;
    color: #2e2e2e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: lighter;
    text-align: center;
    margin-top: 3em;
}

nav {
    border-bottom: 4em solid #2ca9f2;
}

ul {
    height: 5em;
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
}

.navegador {
    color: #fcfcfc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    padding: 30px 23px;
}

#div1 {
    height: 28em;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: black;
}

#div1 p {
    position: absolute;
    height: 36px;
    width: 100%;
    bottom: -40px;
    padding: 2em 0;
    margin-right: 4em;
    background-color: #161616;
    opacity: 0.8;
    text-align: center;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    color: darkgray;
    font-weight: lighter;
}

#div1button {
    position: absolute;
    bottom: 15px;
    text-align: center;
    margin-right: 4em;
}
section {
    height: 28em;
}

h2 {
    background-color: ghostwhite;
    height: 23em;
}

#prefooter {
    background-color: #2ca9f2;
    height: 12em;
}

.pie {
    background-color: #fcfcfc;
    height: 28em;
}